input[type="radio"]{
display: none;
}
.wrapper{
    transform: translateY(50vh);
    display:flex;
    justify-content: center;
    direction: rtl;
}
.wrapper label{
   
    cursor: pointer;
}


.wrapper>input:checked + label:hover,
.wrapper>input:checked ~ label:hover,
.wrapper> label:hover ~ input:checked ~label,
.wrapper> input:checked ~ label:hover ~label
{
    color: palegoldenrod;
}

.wrapper label:hover ,.wrapper label:hover ~ label,input:checked  ~label{
    color: yellow
}









    

 /*copied*/

 